<div class="container">
  <div class="row">
    <div class="col-4">
      <h1>New Books</h1>
      <%= form_with model: @book do |f| %>
      <p>Title</p>
      <%= f.text_field :title %>
      <p>Opinion</p>
      <%= f.text_area :body %>
      <%= f.submit '投稿' %>
      <% end %>
    </div>
    <div class="col-8">
      <h1>Books</h1>
      <table class="teble">
        <thead>
          <tr>
            <td>Title</td>
            <td>Opinion</td>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>